body {
    font-family: Times New Roman, serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0; /* Reset default margins */
    margin-left: 25%;
    margin-right: 25%;
    background-color: #000000;
    padding: 0;
  }






  
  a {
    text-decoration: none;
    color: #FF2400; 
  }a:hover {
    color: #F0FFFF;
  }

  p {
    color: #FFFFF0;
    text-align: justify;

  }
  /* style.css */
li {
  color: #cfaeae;
  
}
  h1{color: #FFFFF0;}
  h2{color: #FFFFF0;}
  h3{color: #FFFFF0;}
